For anaconda env

conda create -n anpr
conda activate apnr
pip install PyYAML scipy pandas matplotlib tqdm seborn
pip install filterpy

To install pytorch with cuda make sure you have install and set the path cuda & cudnn in base of your system.
    pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117

pip install easyocr
pip install opencv-python==4.6.0.66

For CPU
_______________

conda create -n anpr
conda activate apnr
pip install PyYAML scipy pandas matplotlib tqdm seborn
pip install filterpy

To install pytorch on CPU.
    conda install pytorch torchvision torchaudio cpuonly -c pytorch

pip install easyocr
pip install opencv-python==4.6.0.66





